version: '3.8'

services:
  backend:
    environment:
      - HOST=0.0.0.0
      - PORT=8000
      - CORS_ORIGINS=["http://localhost:3000","http://<YOUR_HOSTNAME>:3000","http://<YOUR_HOSTNAME>","http://<YOUR_LAN_IP>:3000"]
      - PUBLIC_HOSTNAME=<YOUR_HOSTNAME>
    ports:
      - "0.0.0.0:8000:8000"

  frontend:
    environment:
      - REACT_APP_API_URL=http://<YOUR_HOSTNAME>:8000
      - HOST=0.0.0.0
      - PORT=3000
      - PUBLIC_HOSTNAME=<YOUR_HOSTNAME>
    ports:
      - "0.0.0.0:3000:3000"

  nginx:
    ports:
      - "0.0.0.0:80:80"

  qdrant:
    environment:
      - QDRANT__SERVICE__HTTP_PORT=6333
      - QDRANT__SERVICE__HOST=0.0.0.0
    ports:
      - "0.0.0.0:6333:6333"
